# Ignorar o ambiente virtual do Python
/backend/venv/

# Ignorar caches do Python
__pycache__/
*.pyc

# Ignorar arquivos de ambiente
.env

# Ignorar temporários e diretórios pesados
/tesseract/
tmp_*
Erro.txt
