# Ignorar o ambiente virtual do Python
/backend/venv/
/backend/.venv/

# Ignorar caches do Python
__pycache__/
*.pyc

# Ignorar arquivos de ambiente
.env

# Ignorar temporários e diretórios pesados
/tesseract/
tmp_*
Erro.txt

# Ignorar arquivos de modelo HTML
frontend/icons_sidebar.html
frontend/painel_dashboard.html